.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}
#projects,
#contact {
  background-color: #e2edff;
}
a {
  text-decoration: none;
}
h3 {
  text-align: center;
}
footer {
  text-align: center;
  padding-bottom: 5rem;
}
footer small {
  color: white;
}
section {
  padding-top: 5rem;
}
